@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap");
@import "tailwindcss";
@config "./tailwind.config.js";

@layer base {
  html {
    font-family: "Fira Sans", "sans-se", system-ui, -apple-system;
  }

  *, ::before, ::after {
    border-color: theme('colors.gray.200', 'currentColor');
  }
}

@utility container {
  max-width: 1400px;
  margin-inline: auto;
}