name: build

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: build
        run: exit 1
      - uses: actions/checkout@v4
      - name: install
        run: |
          curl -fsSL https://cli.moonbitlang.com/install/unix.sh | bash
          echo "$HOME/.moon/bin" >> $GITHUB_PATH
      - uses: actions/setup-node@v4
      - run: npm install
      - run: |
          moon update
          moon install
          cp -R web/* target/web/
          rm src/config/url_base.mbt && echo "pub const URL_BASE = \"\"" > src/config/url_base.mbt
          moon build --target js
          cp target/js/release/build/main/main.js target/web/main.js
          npm install npx
          npx tailwindcss -i web/styles.css -o target/web/styles.css

      - name: publish
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
        run: |
          aws s3 sync --delete ./target/web/ ${{ secrets.AWS_S3_MOONCAKES }}
